[Unit]
Description=call iproute2 to make a bridge
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/odroid-auto-bridge u
ExecStop=/usr/bin/odroid-auto-bridge d

[Install]
WantedBy=network.target
